# VSCode and Relate
.vscode
.DS_Store
__pycache__

# Access tokens:
.env

# My experiments
explorations 
trial*
try*
notes.txt

# Data
*.csv

# Push data to hf
push_data_to_hf.py
extract_additional_context_wiki.py

# old sbatch files
old/

# old folders
*old/

# Trials
failed_outputs.txt
outputs_touse.txt

# Tests
*test*

# out files
*.out

# python notebooks for not
*.ipynb

# Result plots
*.png

# Scripts to ignore
join_jailbreaks.py
replace_nan_base.py
obtain_plots_old.py