# VSCode and system files
.vscode/
.DS_Store
__pycache__/

# Environment variables and tokens
.env

# Data files
*.csv
*.tsv
*generation
*generation_processed
*generation copy
*generation_processed copy
*generations/
*results_pct
conllu_files/
hs_predictions/
hs_sentences/

# Notebooks
*.ipynb
!visualize_pct_shifts.ipynb
!visualize_fit_lmm.ipynb
!extract_hs.ipynb
!visualize_hs_results.ipynb

# Result plots
*.png

# SLURM and output files
*.sh
*.out

# Trials and test files
*test*
trial*
try*
failed_outputs.txt
outputs_touse.txt

# Explorations and notes
explorations/
notes.txt

# Scripts to ignore
join_jailbreaks.py
replace_nan_base.py
obtain_plots_old.py
obtain_plots_unused.py
plotting_utils_unused.py
rottger_et_al_helpers_unused.py
keys_unused.py
extract_conllu_hurtlex_old.py
generation_args_wright_unused.json
visualize_fit_lmm.r

# Hugging Face push scripts
push_data_to_hf.py
extract_additional_context_wiki.py

# Old files and folders
old/
*old/